<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="main">
      <div class="game_field"></div>
    </div>
  </body>
  <div class="data">
    <%= csrf_meta_tags %>
  </div>
  <%= javascript_pack_tag 'javascripts/game/index' %>
  <%= stylesheet_pack_tag 'stylesheets/game/index' %>
</html>