<span class="additional_links">
    <%= link_to 'Change', {controller: link1contr, action: 'change'}, class: 'btn btn-warning' %>
    <%= link_to 'Delete', {controller: link2contr, action: 'change'}, class: 'btn btn-danger' %>
</span>