<nav aria-label="breadcrumb">
  <ol class="breadcrumb path">
    <% path.each do |sub| %>
      <li class="breadcrumb-item">
        <%= link_to sub.title, {controller: 'subforums', action: 'show', id: sub.id} %>
      </li>
    <% end %>
  </ol>
</nav>