.shop_element {
  color: #9fcdff;
  width: 350px;
  height: 75px;
  border-radius: 6px;
  margin: 10px 10px 10px 10px;
  //background-color: #005cbf;
  background-color: #004085;
  //background-image: u;
}

.shop {
  float: right;
}

.clicker {
  width: 200px;
  height: 200px;
  float: left;
}

.game_field {
  width: 500px;
  height: 500px;
}