.shop_element {
  color: #9fcdff;
  width: 350px;
  height: 75px;
  border-radius: 6px;
  margin: 10px 10px 10px 10px;
  //background-color: #005cbf;
  background-color: #004085;
  //background-image: u;
}

.shop {
  width: 800px;
  height: 350px;
  float: left;
}

.clicker {
  width: 300px;
  height: 300px;
  float: left;
  margin: 20px;
}

.click_button {
  color: white;
  border: none;
  background-color: white;
}

.game_field {
  height: 500px;
}

.leaderboard {
  width: 500px;

}