.subforums_list {
  margin: 0 auto;
  width: 1300px;
}

.posts_list {
  margin: 20px auto 0 auto;
  width: 1300px;
}

.list_of_links {
  margin: 3px 0 3px 0;
}

.root {
  margin: 0 auto;
}