.subforums_list {
  margin: 7px auto;
}

.posts_list {
  margin: 20px auto 0 auto;
}

.list_of_links {
  margin: 3px 0 3px 0;
}

.root {
  margin: 0 auto;
}

.path {
  margin: 10px auto;
}