.subforums_list {

}

.posts_list {
  //margin: 20px auto 0 auto;
}

.list_of_links_element {
  //border-radius: 3px;
}

.create_buttons {
  margin-top: 5px;
}

.root {
  margin: 0 auto;
}

.path {
  margin: 10px auto;
}