.root {
  margin: 0 auto;
}

.post {
  border-radius: 3px;
  background-color: #bee5eb;
}

.divider {
  margin: 5px;
}

.title {
  font-size: 26px;
  font-weight: 700;
  margin: 10px 0 0 10px;
}

.content {
  font-size: 20px;
  margin-left: 10px;
}

.message_form {
  height: 250px;
  margin-top: 5px;
}

.message_list {
  margin: 0 10px 0 10px;
}

.message {
  margin: 3px 0 3px 0;
  border-radius: 2px;
}